[submodule "powerline.bash"]
	path = vendor/powerline.bash
	url = https://gitlab.com/bersace/powerline.bash.git
[submodule "icons-in-terminal"]
	path = vendor/icons-in-terminal
	url = https://github.com/sebastiencs/icons-in-terminal/
[submodule "choose"]
	path = vendor/choose
	url = https://github.com/tmonjalo/choose.git
